<div *ngIf="!profile">
  <i class="fa fa-warning"></i>
  No profile available!
</div>
<div *ngIf="profile" class="flex">
  <mat-card>
    <mat-card-header>Github Profile</mat-card-header>
    <mat-card-content>
      <div class="flex">
        <img mat-card-md-image mat-card-avatar src="{{ profile.avatar_url}}"/>
      </div>
      <div>
        <i class="fa fa-user"></i>
        <strong>Username:</strong>
        {{ profile.login }}
      </div>
      <div>
        <i class="fa fa-map-marker"></i>
        <strong>Location:</strong>
        {{ profile.location }}
      </div>
      <div>
        <i class="fa fa-users"></i>
        <strong>Followers:</strong>
        {{ profile.followers }}
      </div>
      <div>
        <i class="fa fa-user-plus"></i>
        <strong>Following:</strong>
        {{ profile.following }}
      </div>
    </mat-card-content>
  </mat-card>
</div>