<app-loading [condition]="isLoading"></app-loading>
<app-toast [message]="toast.message"></app-toast>
<div *ngIf="users && users.length > 0">
  <agm-map [zoom]="4" [latitude]="lat" [longitude]="lng">
    <div *ngFor="let user of users">
      <agm-marker *ngIf="user.location" [latitude]="user.location.latitude" [longitude]="user.location.longitude" [title]="user.username">
        <agm-info-window [disableAutoPan]="true" [isOpen]="true">
          <mat-card>
            <mat-card-content>
              <img mat-card-sm-image mat-card-avatar src="data:{{ user.picture.mimeType }};base64,{{ user.picture.binaryContent }}"/>
              <strong>{{ user.username }}</strong>
            </mat-card-content>
          </mat-card>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>